<section class="favourite_exercises section">
  <div class="container">
    <h2 class="section_title">Favorites</h2>
    <div class="favorites-container">
      <div class="quote-container">
        <div class="quote"></div>
        <div class="quote-bottom-container">
          <div class="main-text">
            <svg width="20" height="20" class="main-text-icon">
              <use href="/js_university_project0.1/iconic.svg#icon-gym"></use>
            </svg>
            <div>
              <h3 class="main-text-title">110 min</h3>
              <p class="main-text-subtitle">Daily norm of sports</p>
            </div>
          </div>
          <div class="image-wrapper">
          <img
            src="/img/favourite-1x.webp"
            srcset="/img/favourite-1x.webp 1x, /img/favourite-2x.webp 2x"
            alt="women"
            fetchpriority="high"
          />
        </div>
        </div>
      </div>
      <div class="container-fav">
      </div>
    </div>
  </div>
</section>
