<header class="header">
  <div class="container header-row">
    <a aria-label="main" class="logo" href="/index.html">
      <svg class="logo-icon" width="132" height="24">
        <use href="/js_university_project0.1/iconic.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a
            aria-label="home"
            class="nav-link header-nav-link header-nav-link-home"
            id="homeLink"
            href="/js_university_project0.1/index.html"
            >Home</a
          >
        </li>
        <li class="nav-list-item">
          <a
            aria-label="favorites"
            class="nav-link header-nav-link header-nav-link-fav"
            id="favoritesLink"
            href="/js_university_project0.1/favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="social-media-list">
      <li>
        <a
          aria-label="social-media"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          aria-label="social-media"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          aria-label="social-media"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="open-mobile-menu-btn" type="button" name="Open menu" aria-label="Open menu">
      <svg class="icon-mobile-nav" width="32" height="32">
        <use href="/js_university_project0.1/iconic.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu-wrapper">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="close-mobile-menu-btn" type="button" name="close">
        <svg class="icon-mobile-menu-nav" width="24" height="24">
          <use href="/js_university_project0.1/iconic.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-nav-list">
        <li>
          <a
            aria-label="home"
            class="nav-link active"
            id="mobileHomeLink"
            href="/js_university_project0.1/index.html"
            >Home</a
          >
        </li>
        <li>
          <a
            aria-label="favorites"
            class="nav-link"
            id="mobileFavoritesLink"
            href="/js_university_project0.1/favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="mobile-social-media-list">
      <li>
        <a
          aria-label="social-media"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          aria-label="social-media"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          aria-label="social-media"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="/js_university_project0.1/iconic.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
