<section class="main_section">
  <div class="container">
    <div class="main_section_container">
      <div class="main_text">
        <div class="span">
          <svg width="59" height="59" class="h1-icon">
            <use
              href="/js_university_project0.1/iconic.svg#icon-sun"
            ></use>
          </svg>
          <h1>Get Body in shape, Stay healthy</h1>
        </div>
        <p class="main_text_p">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="main_decoration">
        <div class="decoration-image-wrapper">
          <img
            src="/img/text-1x.webp"
            srcset="/img/text-1x.webp 1x, /img/text-2x.webp 2x"
            alt="Fitness text decoration"
            class="decoration-image"
            fetchpriority="high"
          />
        </div>
        <ul class="text">
          <li>#Sport</li>
          <li>#Healthy</li>
          <li>#Workout</li>
          <li>#Diet</li>
        </ul>
      </div>
    </div>

    <picture class="main-image-wrapper">
      <source
        media="(max-width: 1439px)"
        srcset="/img/main-tb1x.webp 1x, /img/main-tb2x.webp 2x"
      />

      <img
        src="/img/main-1x.webp"
        srcset="/img/main-1x.webp 1x, /img/main-2x.webp 2x"
        alt="Fitness lifestyle"
        class="main-image desktop"
        fetchpriority="high"
      />
    </picture>
    <ul class="desctop-hidden">
      <li>#Sport</li>
      <li>#Healthy</li>
      <li>#Workout</li>
      <li>#Diet</li>
    </ul>
  </div>
</section>
