<div class="backdrop">
  <div class="backdrop-container">
    <button name="close" id="form-close-btn" type="button">
      <svg class="form-close-btn-icon" width="12" height="12">
        <use href="/js_university_project0.1/iconic.svg#icon-x"></use>
      </svg>
    </button>
    <form class="backdrop-form">
      <p class="backdrop-form-text">Rating</p>

      <div class="rating-wrapper">
        <p class="rating-star-value">0.0</p>
        <svg class="rating-star-icons" width="24" height="24">
          <use data-id="1" href="/js_university_project0.1/iconic.svg#icon-star"></use>
        </svg>
        <svg class="rating-star-icons" width="24" height="24">
          <use data-id="2" href="/js_university_project0.1/iconic.svg#icon-star"></use>
        </svg>
        <svg class="rating-star-icons" width="24" height="24">
          <use data-id="3" href="/js_university_project0.1/iconic.svg#icon-star"></use>
        </svg>
        <svg class="rating-star-icons" width="24" height="24">
          <use data-id="4" href="/js_university_project0.1/iconic.svg#icon-star"></use>
        </svg>
        <svg class="rating-star-icons" width="24" height="24">
          <use data-id="5" href="/js_university_project0.1/iconic.svg#icon-star"></use>
        </svg>
      </div>
      <input
        type="email"
        placeholder="Email"
        pattern="^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$"
        name="user-email"
        id="user-email"
        title="Enter your email"
        required
      />
      <textarea
        class="form-user-comment"
        name="user-comment"
        id="user-comment"
        placeholder="Your comment"
      ></textarea>
      <button name="send" class="form-send-btn" type="submit">Send</button>
    </form>
  </div>
</div>
